@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;  
}


body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

section {
  padding: 0 32px;
}

main {
  margin-bottom: 96px;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

/* NAVBAR */

nav {    
  display: flex;
  padding-top: 32px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  }

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0px;
  padding-bottom: 4px;
}

.nav__logo--img {
  height: 40px;
  width: 40px;
}

.nav__logo--title {
  font-size: 24px;
  font-weight: 900;
  margin-left: 12px;
  padding-bottom: 2px;
  letter-spacing: 0.6px;
}

.nav__link {
 
}